  <h1 style="text-align:center">Edit Product</h1>

  {{#if editErr}}
  <div class="alert alert-danger">
      {{editErr}}
  </div>

  {{/if}}

  <div class="card p-5">

      <form class="form-validation" style="display: flex;flex-direction: column;align-items: center;" id="edit-Product"
          action="/admin/edit-product/{{foundProduct._id}}" enctype="multipart/form-data" method="post">
          <div class="form-group row" style="min-width: 600px;">
              <label for="inputEmail3" class="col-md-4 form-control-label">Product Title<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text" class="form-control" id="productTitle" placeholder="Product Title"
                      value="{{foundProduct.productTitle}}" name="productTitle">
              </div>
          </div>
          <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass1" class="col-md-4 form-control-label">Product Description<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <textarea class="form-control" rows="5" id="example-textarea" name="productDescription"
                      placeholder="Product Description">{{foundProduct.productDescription}}</textarea>

              </div>
          </div>
           <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass1" class="col-md-4 form-control-label">Product Details<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <textarea class="form-control" rows="5" id="example-textarea" name="productDetails"
                      placeholder="Enter Product Full Details">{{foundProduct.productDetails}}</textarea>

              </div>
          </div>
          <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass2" class="col-md-4 form-control-label">Brand Name
                  <span class="text-danger">*</span></label>
              <div class="col-md-7">
                  <select name="brand" class="form-control select2">
                      <option value="{{foundProduct.brand}}" selected hidden>{{foundProduct.brand}}</option>
                      {{#each brands}}

                      <option value={{this.brand}}>{{this.brand}}</option>
                      {{/each}}

                  </select>

              </div>
          </div>

          <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass2" class="col-md-4 form-control-label">Category
                  <span class="text-danger">*</span></label>
              <div class="col-md-7">
                  <select name="category" class="form-control select2" id="category">
                      <option value="{{foundProduct.category}}" selected hidden>{{foundProduct.category}}
                      </option>
                      {{#each categories}}
                      <option value="{{this.category}}">{{this.category}}</option>
                      {{/each}}

                  </select>


              </div>
          </div>

          <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass2" class="col-md-4 form-control-label">Sub-Category
                  <span class="text-danger">*</span></label>
              <div class="col-md-7">
                  <select name="subcategory" class="form-control select2">
                      {{#each categories}}
                      <optgroup label="{{this.category}}">
                          {{#each this.subcategory}}
                          <option value="{{this.subcategory}}">{{this.subcategory}}</option>
                          {{/each}}
                      </optgroup>

                      {{/each}}
                  </select>

              </div>
          </div>

          <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Colour<span class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text" class="form-control" id="colour" placeholder="Colour" name="color"
                      value="{{foundProduct.color}}">
              </div>
          </div>

          <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Meterial<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text" class="form-control" id="meterial" placeholder="Meterial" name="material"
                      value="{{foundProduct.material}}">
              </div>
          </div>




          <div class="form-group row" style="min-width: 600px;">
              <label for="hori-pass2" class="col-md-4 form-control-label">Size
                  <span class="text-danger">*</span></label>
              <div class="col-md-7">
                  <select class="form-control select2" name="size" multiple="multiple">
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                  </select>

              </div>
          </div>



          <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Quantity<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text" class="form-control" id="webSite" placeholder="130000" name="quantity" ,
                      value="{{foundProduct.quantity}}">
              </div>
          </div>

          <div class="form-group row" style="min-width: 600px;">
              <label for="webSite" class="col-md-4 form-control-label">Price (Rs.)<span
                      class="text-danger">*</span></label>
              <div class="col-md-7">
                  <input type="text" class="form-control" id="webSite" placeholder="1000" name="price"
                      value="{{foundProduct.price}}">
              </div>
          </div>


          <div class="card p-3">
              <div class="row">


                  <div class="col-md-3">
                      <label for="" style="font-weight: bold;">Thumbnail Image</label>

                      <img src="/product-images/{{foundProduct._id}}first.jpg" alt="" style="width: 300px; height:auto">

                  </div>
                  <div class="col-md-3">
                      <label for="" style="font-weight: bold;">Image 2</label>

                      <img src="/product-images/{{foundProduct._id}}second.jpg" alt=""
                          style="width: 300px; height:auto">

                  </div>
                  <div class="col-md-3">
                      <label for="" style="font-weight: bold;">Image 3</label>

                      <img src="/product-images/{{foundProduct._id}}third.jpg" alt="" style="width: 300px; height:auto">
                  </div>
                  <div class="col-md-3">
                      <label for="" style="font-weight: bold;">Image 4</label>

                      <img src="/product-images/{{foundProduct._id}}fourth.jpg" alt=""
                          style="width: 300px; height:auto">
                  </div>

              </div>

          </div>
          <div class="row">

              <img src="" alt="" style="width: 300px; height:auto" id="imgview1">
              <img src="" alt="" style="width: 300px; height:auto" id="imgview2">
              <img src="" alt="" style="width: 300px; height:auto" id="imgview3">
              <img src="" alt="" style="width: 300px; height:auto" id="imgview4">

          </div>

          <div class="row">
              <div id="image-box1" style="width: 300px; height: 350px; display: none;">
              </div>
              <div>
                  <button class="btn btn-primary mt-2" type="button" style="display: none;" id="crop-btn1">Done</button>
              </div>
              <div class="mt-5 col-md-6">
                  <label for="">Thumbnail Image</label>

                  <input type="file" name="image1" id="file1" class="form-control mt-2"
                      onchange="return fileValidation1()">
              </div>
              <div class="mt-5 col-md-6">
                  <label for="">Image 2</label>

                  <input type="file" name="image2" id="file2" class="form-control mt-2"
                      onchange="return fileValidation2()">
              </div>
              <div class="mt-5 col-md-6">
                  <label for="">Image 3</label>

                  <input type="file" name="image3" id="file3" class="form-control" onchange="return fileValidation3()">
              </div>
              <div class="mt-5 col-md-6">
                  <label for="">Image 4</label>

                  <input type="file" name="image4" id="file4" class="form-control" onchange="return fileValidation4()">
              </div>

          </div>

  </div>


  <div class="form-group row">

      <div class="col-md-8">
          <button type="reset" class="btn btn-danger waves-effect" style="float: right;">
              Cancel
          </button>

          <button type="submit" id="confirm-btn1" class="btn btn-primary waves-light mr-1" style="float: right;">
              Submit
          </button>

      </div>
  </div>
  </form>

  </div>