<div id="page-content">
    <!--Body Container-->
    <!--Breadcrumbs-->
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a> <span
                    aria-hidden="true">|</span> <span>My Account</span></div>
        </div>
    </div>
    <!--End Breadcrumbs-->
    <div class="container">
        <div class="page-title">
            <h1>Add Address</h1>
        </div>

        <div class="row mb-5">


            <div class="col-xs-10 col-lg-10 col-md-12">
                <!-- Tab panes -->
                <div class="tab-content dashboard-content padding-30px-all md-padding-15px-all" style="">

                    <div>

                        <div class="account-login-form bg-light-gray padding-20px-all">
                            <form action="/add-address" method="post" id="addNewAddress">
                            <h1></h1>
                                <fieldset>

                                    <div class="row">
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-firstname">First Name <span
                                                    class="required-f">*</span></label>
                                            <input name="firstname" value="" id="input-firstname" class="form-control"
                                                type="text" placeholder="Enter First Name">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-lastname">Last Name <span
                                                    class="required-f">*</span></label>
                                            <input name="lastname" value="" id="input-lastname" class="form-control"
                                                type="text" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-firstname">Mobile <span
                                                    class="required-f">*</span></label>
                                            <input name="phone" value="" id="input-firstname" class="form-control"
                                                type="text" placeholder="Enter Mobile Number">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-lastname">Pincode <span
                                                    class="required-f">*</span></label>
                                            <input name="pincode" value="" id="input-lastname" class="form-control"
                                                type="text" placeholder="Enter Pincode">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-firstname">Address <span
                                                    class="required-f">*</span></label>
                                            <input name="address" value="" id="input-firstname" class="form-control"
                                                type="text" placeholder="Enter Address">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-lastname">District<span
                                                    class="required-f">*</span></label>
                                            <input name="district" value="" id="input-lastname" class="form-control"
                                                type="text" placeholder="Enter District">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-firstname">State <span class="required-f">*</span></label>
                                            <select name="state" id="state" class="form-control">
                                               
                                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands
                                                </option>
                                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                <option value="Assam">Assam</option>
                                                <option value="Bihar">Bihar</option>
                                                <option value="Chandigarh">Chandigarh</option>
                                                <option value="Chhattisgarh">Chhattisgarh</option>
                                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                                <option value="Daman and Diu">Daman and Diu</option>
                                                <option value="Delhi">Delhi</option>
                                                <option value="Lakshadweep">Lakshadweep</option>
                                                <option value="Puducherry">Puducherry</option>
                                                <option value="Goa">Goa</option>
                                                <option value="Gujarat">Gujarat</option>
                                                <option value="Haryana">Haryana</option>
                                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                <option value="Jharkhand">Jharkhand</option>
                                                <option value="Karnataka">Karnataka</option>
                                                <option value="Kerala">Kerala</option>
                                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                <option value="Maharashtra">Maharashtra</option>
                                                <option value="Manipur">Manipur</option>
                                                <option value="Meghalaya">Meghalaya</option>
                                                <option value="Mizoram">Mizoram</option>
                                                <option value="Nagaland">Nagaland</option>
                                                <option value="Odisha">Odisha</option>
                                                <option value="Punjab">Punjab</option>
                                                <option value="Rajasthan">Rajasthan</option>
                                                <option value="Sikkim">Sikkim</option>
                                                <option value="Tamil Nadu">Tamil Nadu</option>
                                                <option value="Telangana">Telangana</option>
                                                <option value="Tripura">Tripura</option>
                                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                <option value="Uttarakhand">Uttarakhand</option>
                                                <option value="West Bengal">West Bengal</option>
                                            </select>

                                        </div>
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-lastname">Landmark<span
                                                    class="required-f">*</span></label>
                                            <input name="landmark" value="" id="input-landmark" class="form-control"
                                                type="text" placeholder="Enter Landmark (optional)">
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-password">Alternative Mobile <span
                                                    class="required-f">*</span></label>
                                            <input name="alternativePhone" value="" id="input-password"
                                                class="form-control" type="number"
                                                placeholder="Enter Alternative Mobile Number (Optional)">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-lastname">Address Type<span
                                                    class="required-f">*</span></label>


                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="addressType"
                                                    id="flexRadioDefault1" value="Home">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Home
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="addressType"
                                                    id="flexRadioDefault2" value="Work">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Work
                                                </label>
                                            </div>
                                        </div>


                                    </div>

                                </fieldset>

                                <button type="submit" class="btn margin-15px-top btn-primary">Save</button>
                            </form>

                        </div>

                    </div>
                    <!-- End Account Details -->

                    {{!-- change password --}}
                    <div id="change-password" class="tab-pane fade">
                        <h3>Change Password</h3>
                        <div class="account-login-form bg-light-gray padding-20px-all">
                            <form>
                                <fieldset>


                                    <div class="row">
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-firstname">Current Password <span
                                                    class="required-f">*</span></label>
                                            <input name="firstname" value="" id="input-firstname" class="form-control"
                                                type="text" placeholder="Enter Current Password">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-lastname">New Password <span
                                                    class="required-f">*</span></label>
                                            <input name="lastname" value="" id="input-lastname" class="form-control"
                                                type="text" placeholder="Enter New Password">
                                        </div>
                                    </div>


                                </fieldset>

                                <button type="submit" class="btn margin-15px-top btn-primary">Save</button>
                            </form>

                        </div>

                    </div>
                    {{!-- End Change Password --}}
                </div>
                <!-- End Tab panes -->
            </div>
        </div>
    </div>
    <!--End Body Container-->
</div>
<!--End Page Wrapper-->

<!--Scoll Top-->
<span id="site-scroll"><i class="icon anm anm-arw-up"></i></span>
<!--End Scoll Top-->

{{#if userSession}}
<!--MiniCart Drawer-->
<div class="minicart-right-drawer modal right fade" id="minicart-drawer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="cart-drawer" class="block block-cart">
                <a href="javascript:void(0);" class="close-cart" data-dismiss="modal" aria-label="Close"><i
                        class="anm anm-times-r"></i></a>
                <h4>Your cart ({{cartCount}} Items)</h4>
                <div class="minicart-content">
                    <ul class="clearfix">
                        {{#each cartProducts}}
                        <li class="item clearfix">
                            <a class="product-image" href="#">
                                <img src="/product-images/{{this.product._id}}first.jpg" alt="{{this.product.productTitle}}" title="">
                            </a>
                            <div class="product-details">
                                <a href="#" class="remove"><i class="anm anm-times-sql" aria-hidden="true"></i></a>
                                <a href="#" class="edit-i remove"><i class="icon icon-pencil"
                                        aria-hidden="true"></i></a>
                                <a class="product-title" href="cart-style1.html">{{this.product.productTitle}}</a>
                                
                                 <div class="wrapQtyBtn">
                                        <div class="qtyField">
                                            <a class="qtyBtn minus btn_chng_qty" data-type="-1" data-id="{{this._id}}" data-productid="{{this.product._id}}">
                                                <i class="anm anm-minus-r" aria-hidden="true"></i>
                                            </a>
                                            <span class="cart__qty-input qty qty_{{this.product._id}}" id="{{this.product._id}}">{{this.quantity}}</span>
                                            <a class="qtyBtn plus btn_chng_qty" data-type="1" data-id="{{this._id}}" data-productid="{{this.product._id}}">
                                                <i class="anm anm-plus-r" aria-hidden="true"></i>
                                            </a>
                                        </div>
											
                                    </div>
                                <div class="priceRow">
                                    <div class="product-price">
                                        <span class="money">Rs. {{this.product.price}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                       
                    </ul>
                </div>
                <div class="minicart-bottom">
                    <a href="/add-to-cart" class="btn btn-secondary cart-btn">View Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
<!--End MiniCart Drawer-->

<!-- Including Jquery -->
<script src="/user-assets/js/vendor/jquery-min.js"></script>
<script src="/user-assets/js/vendor/js.cookie.js"></script>
<!-- Including Javascript -->
<script src="/user-assets/js/plugins.js"></script>
<script src="/user-assets/js/main.js"></script>

</div>
</body>

<!-- Mirrored from www.annimexweb.com/items/avone/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Jan 2022 13:25:28 GMT -->

</html>