<div id="page-content">
    <div class="slideshow slideshow-wrapper">
        <div class="home-slideshow">

            <div class="slide">
                <div class="blur-up lazyload">
                    <img class="blur-up lazyload desktop-hide" data-src="/banner-images/{{banners._id}}first.jpg"
                        src="/banner-images/{{banners._id}}first.jpg" alt=" Start Selling Online Successfully"
                        title=" Start Selling Online Successfully" />
                    <img class="blur-up lazyload mobile-hide" data-src="/banner-images/{{banners._id}}first.jpg"
                        src="/banner-images/{{banners._id}}first.jpg" alt=" Start Selling Online Successfully"
                        title=" Start Selling Online Successfully" />
                    <div class="slideshow__text-wrap slideshow__overlay left">
                        <div class="slideshow__text-content bottom">
                            <div class="wrap-caption anim-tru left style1">
                                <h2 class="h1 mega-title slideshow__title" style="display: none;">{{banners.title1}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="blur-up lazyload">
                    <img class="blur-up lazyload desktop-hide" data-src="/banner-images/{{banners._id}}second.jpg"
                        src="/banner-images/{{banners._id}}second.jpg" alt=" Start Selling Online Successfully"
                        title=" Start Selling Online Successfully" />
                    <img class="blur-up lazyload mobile-hide" data-src="/banner-images/{{banners._id}}second.jpg"
                        src="/banner-images/{{banners._id}}second.jpg" alt=" Start Selling Online Successfully"
                        title=" Start Selling Online Successfully" />
                    <div class="slideshow__text-wrap slideshow__overlay left" style="display: none;">
                        <div class="slideshow__text-content bottom">
                            <div class="wrap-caption anim-tru left style1" >
                                <p class="mega-small-title">Perfect &amp; Productive</p>
                                <h2 class="h1 mega-title slideshow__title">Powerful Template for Growing Companies</h2>
                                <span class="btn">Shop now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="blur-up lazyload">
                    <img class="blur-up lazyload desktop-hide" data-src="/banner-images/{{banners._id}}third.jpg"
                        src="/banner-images/{{banners._id}}third.jpg" alt=" Start Selling Online Successfully"
                        title=" Start Selling Online Successfully" />
                    <img class="blur-up lazyload mobile-hide" data-src="/banner-images/{{banners._id}}third.jpg"
                        src="/banner-images/{{banners._id}}third.jpg" alt=" Start Selling Online Successfully"
                        title=" Start Selling Online Successfully" />
                    <div class="slideshow__text-wrap slideshow__overlay left" style="display: none;">
                        <div class="slideshow__text-content bottom">
                            <div class="wrap-caption anim-tru left style1">
                                <p class="mega-small-title">Perfect &amp; Productive</p>
                                <h2 class="h1 mega-title slideshow__title">Powerful Template for Growing Companies</h2>
                                <span class="btn">Shop now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="store-info style2 store-info-section small-pd d-none d-sm-none d-md-block d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="display-table store-info style2">
                        <li class="display-table-cell">
                            <a href="#"><i class="anm anm-phone-call-l" aria-hidden="true"></i>
                                <h5>Call Us Anytime</h5> <span class="sub-text"> <span>+1 (250) 444-5555</span></span>
                            </a>
                        </li>
                        <li class="display-table-cell">
                            <i class="anm anm-truck-line" aria-hidden="true"></i>
                            <h5>Free Shipping</h5> <span class="sub-text"><span>When you spend $100+</span></span>
                        </li>
                        <li class="display-table-cell">
                            <i class="anm anm-undo-r" aria-hidden="true"></i>
                            <h5>Free Returns</h5> <span class="sub-text"> <span>30-days free return policy.</span>
                            </span>
                        </li>
                        <li class="display-table-cell">
                            <i class="anm anm-lock-al" aria-hidden="true"></i>
                            <h5>Secured Payments</h5> <span class="sub-text"> <span>We accept all major credit
                                    cards.</span> </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section imgBanners style2 no-pb-section">
            <div class="section-header">
                <h2>Our Collections</h2>
                
            </div>
            <div class="collection-banners">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 img-banner-item">
                        <div class="imgBanner-grid-item">
                            <div class="inner btmleft">

                                <a href="/category-check/WOMEN">

                                    <span class="img">
                                        <img class="blur-up lazyload"
                                            data-src="/banner-images/{{categoryBanners._id}}women.jpg"
                                            src="/banner-images/{{categoryBanners._id}}women.jpg" alt="" title=" " />
                                    </span>
                                    <span class="ttl"><span class="tt-small">Women</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 img-banner-item">
                        <div class="imgBanner-grid-item">
                            <div class="inner btmleft">

                                <a href="/category-check/MEN">
                                    <span class="img">
                                        <img class="blur-up lazyload"
                                            data-src="/banner-images/{{categoryBanners._id}}men.jpg"
                                            src="/banner-images/{{categoryBanners._id}}men.jpg" alt="" title=" " />
                                    </span>
                                    <span class="ttl"><span class="tt-small">Men</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section product-slider tab-slider-product no-pb-section">
            <div class="section-header">
                <h2>New Arrivals</h2>
                
            </div>
            <div class="tab_container">
                <h3 class="tab_drawer_heading d_active" rel="tab1">Women <i class="anm anm-angle-down-r"
                        aria-hidden="true"></i></h3>
                <div id="tab1" class="tab_content grid-products">
                    <div class="productSlider all_products">
                        {{#each recentProduct}}
                       
                        <div class="col-12 item">
                            <div class="product-image">
                                <a href="/category-check/product-details/{{this._id}}" class="product-img">
                                    <img class="primary blur-up lazyload"
                                        data-src="/product-images/{{this._id}}first.jpg"
                                        src="/product-images/{{this._id}}first.jpg" alt="" title="">
                                    <img class="hover blur-up lazyload"
                                        data-src="/product-images/{{this._id}}second.jpg"
                                        src="/product-images/{{this._id}}second.jpg" alt="" title="">
                                    <div class="product-labels"><span class="lbl on-sale">Sale</span></div>
                                    
                                </a>
                                <div class="button-set style2">
                                    <ul>
                                        <li>
                                            <button class="btn-icon btn btn-addto-cart add-to-cart" type="button" tabindex="0"
                                                data-proid="{{this._id}}">
                                                <i class="icon anm anm-cart-l"></i>
                                                <span class="tooltip-label">Add to Cart</span>
                                            </button>

                                        </li>
                                        <li>
                                        </li>
                                        <li>
                                            
                                           <!--Wishlist Button-->
                                                <div class="wishlist-btn">
                                                    <button class="btn-icon wishlist add-to-wishlist"
                                                       data-proid="{{this._id}}">
                                                        <i class="icon anm anm-heart-l"></i>
                                                        <span class="tooltip-label">Add To Wishlist</span>
                                                    </button>
                                                </div>
                                                <!--End Wishlist Button-->
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-details text-center">
                                <div class="product-name">
                                    <a href="/category-check/product-details/{{this._id}}">{{this.productTitle}}</a>
                                </div>
                                <div class="product-price">
                                    <span class="price"> <b> ₹ {{this.price}}</b></span>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="section parallax-banner-style1">
    <div class="hero hero--exlarge hero__overlay bg-size">
        <img class="bg-img" src="/banner-images/{{banners._id}}first.jpg" alt="">
        <div class="hero__inner">
            <div class="container">
                <div class="wrap-text center text-small font-bold">
                    
                   
                    <a href="/" class="btn">View Collection</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="related-product grid-products">
    <div class="section-header">
        <h2 class="section-header__title text-center h2"><span>Recent Products</span></h2>
        <p class="sub-heading">This is Our New Products</p>
    </div>
    <div class="productPageSlider">
        {{#each recentProduct}}
        <div class="col-12 item">
            <div class="product-image">
                <a href="/category-check/product-details/{{this._id}}" class="product-img">
                    <img class="primary blur-up lazyload" data-src="/product-images/{{this._id}}first.jpg"
                        src="/product-images/{{this._id}}first.jpg" alt="image" title="product">
                    <img class="hover blur-up lazyload" data-src="/product-images/{{this._id}}second.jpg"
                        src="/product-images/{{this._id}}second.jpg" alt="image" title="product">
                    <div class="product-labels rectangular"><span class="lbl pr-label1">new</span></div>
                </a>
                <div class="button-set style1">
                    <ul>
                        <li>
                            <div class="btn-addto-cart">
                                <button class="btn-icon btn btn-addto-cart add-to-cart" data-proid="{{this._id}}">
                                    <i class="icon anm anm-cart-l"></i>
                                    <span class="tooltip-label">Add to Cart</span>
                                </button>
                            </div>
                        </li>
                        <li>
                        </li>
                        <li>
                           <!--Wishlist Button-->
                                                <div class="wishlist-btn">
                                                    <button class="btn-icon wishlist add-to-wishlist"
                                                       data-proid="{{this._id}}">
                                                        <i class="icon anm anm-heart-l"></i>
                                                        <span class="tooltip-label">Add To Wishlist</span>
                                                    </button>
                                                </div>
                                                <!--End Wishlist Button-->
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-details text-center">
                <div class="product-name">
                    <a href="/category-check/product-details/{{this._id}}">{{this.productTitle}}</a>
                </div>
                <div class="product-price">
                    <span class="price" style="font-weight: bold;">Rs. {{this.price}}</span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<hr>
 <h2 class="section-header__title text-center h2"><span>Brands</span></h2>
<div class="section logo-section no-pt-section mt-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="logo-bar">
                    {{#each brands}}
                    <div class="logo-bar__item" style="margin-left: 20px;">
                        <a href="#;"><img src="/brand-images/{{this._id}}logo.jpg" alt="" title="" /></a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
