<div id="page-content" style="min-height: 200px;">
    <!--Body Container-->
    <!--Breadcrumbs-->
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="breadcrumbs"><a href="/" title="Back to the home page">Home</a> <span
                    aria-hidden="true">|</span> <span>My Account</span></div>
        </div>
        {{#if currentPasswordErr}}
        <div class="alert alert-danger">
            {{currentPasswordErr}}
        </div>
        {{/if}}
        {{#if successMsgChangePassword }}
        <div class="alert alert-success">
            {{successMsgChangePassword}}
        </div>
        {{/if}}
    </div>
    <!--End Breadcrumbs-->
    <div class="container" style="min-height: 450px;">
        <div class="page-title">
            <h1>My Account</h1>
        </div>

        <div class="row mb-5">
            <div class="col-xl-2 col-lg-2 col-md-12 md-margin-20px-bottom">
                <!-- Nav tabs -->
                <ul class="nav flex-column dashboard-list" role="tablist">
                    <li><a class="nav-link active" data-toggle="tab" href="#dashboard">Dashboard</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#refferal">Reffer & Earn</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#orders">My Orders</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#address">Addresses</a></li>
                    {{!-- <li><a class="nav-link" data-toggle="tab" href="#account-details">Add New Address</a></li> --}}
                    <li><a class="nav-link" data-toggle="tab" href="#change-password">Change Password</a></li>
                    <li><a class="nav-link" href="/login/logout">logout</a></li>
                </ul>
                <!-- End Nav tabs -->
            </div>

            <div class="col-xs-10 col-lg-10 col-md-12">
                <!-- Tab panes -->
                <div class="tab-content dashboard-content padding-30px-all md-padding-15px-all" style="">
                    <!-- Dashboard -->
                    <div id="dashboard" class="tab-pane fade active show">
                        <p style="float: right;"><a href="/edit-profile/{{user._id}}"><i class="fas fa-edit" style="font-size: 25px;"></i></a> </p>

                        <h3>Dashboard </h3>
                        <div class="row">
                            <div class="col-lg-2">
                                <img src="/profile-images/{{user._id}}profile.jpg" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="card p-2 mt-5">
                                    <div class="row">
                                        <div class="col-3">
                                            <p style="font-weight: bold; font-size: 16px;">Username :</p>
                                        </div>
                                        <div class="col-9">
                                            <p style="font-size: 16px;">{{user.username}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-5">
                                                    <p style="font-weight: bold; font-size: 16px;">First Name :</p>
                                                </div>
                                                <div class="col-7">
                                                    <p style="font-size: 16px;">{{user.firstname}}</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-5">
                                                    <p style="font-weight: bold; font-size: 16px;">Last Name :</p>
                                                </div>
                                                <div class="col-7">
                                                    <p style="font-size: 16px;">{{user.lastname}}</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-5">
                                                    <p style="font-weight: bold; font-size: 16px;">Phone No :</p>
                                                </div>
                                                <div class="col-7">
                                                    <p style="font-size: 16px;">{{user.phone}}</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-5">
                                                    <p style="font-weight: bold; font-size: 16px;">Email :</p>
                                                </div>
                                                <div class="col-7">
                                                    <p style="font-size: 16px;">{{user.email}}</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Dashboard -->
                      <!-- refferal -->
                    <div id="refferal" class="product-order tab-pane fade">
                        <h3>Reffer $ Earn</h3>
                        <div class="row">
                            <div class="col-md-6 card p-2">
                                <div class="row">
                                    <div class="col-md-7">
                            <img src="/images/walletLogo.png" alt="" class="ms-2 fluid w-80">
                        </div>
                        <div class="col-md-5">
                            <p class="mt-2" style="font-size: 20px; font-weight: bold;">Wallet : </p>
                            <p class="mt-3" style="font-size: 30px; font-weight: bold;">₹ {{user.wallet}}</p>
                        </div>
                                </div>
                        
                        </div>
                        <div class="col-md-6 card">

                        <div class="mx-auto mt-3">
                            <p style="font-size: 16px;">Reffer Your Friends and Earn <b>₹ 50</b> per Sign Up</p>  
                        </div>
                          <div class="row mt-4">
                                 <div class="col-md-8">
                                      <input id="myInput" type="text" value="http://localhost:3000/ref?code={{userSession._id}}&name={{userSession.firstname}}" readonly>
                            </div>
                            <div class="col-md-4">
                                <button style="width: 100px; height : 38px; color:white; background-color: black;" onclick="clickCopyLink()">Copy Link</button>
                            </div>
                            </div>
                        </div>

                        </div>
                        
                        {{!-- <div class="table-responsive">
                            <table class="table">
                                <thead class="alt-font">
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Address</th>
                                        <th>Products</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {{#each orders}}
                                    

                                    <tr>
                                        <td>{{this._id}}</td>
                                        <td>{{this.data.[0].deliveryDetails.address}}</td>
                                        <td>
                                            {{#each this.data}}
                                            <p style="font-weight: bold;">{{this.productList.productTitle}}</p>
                                            {{/each}}
                                            </td>
                                        <td>{{this.data.[0].date}}</td>
                                        <td>{{this.data.[0].status}}</td>
                                        <td>Rs. {{this.data.[0].products.subtotal.total}}</td>
                                        <td><a class="view text-success" href="/view-myorder_details/{{this._id}}"
                                                style="font-weight: bold;">View</a><a class="view ms-3 text-danger"
                                                href="/order-cancel/{{this._id}}" style="font-weight: bold;"> Cancel</a></td>
                                    </tr>
                                
                                    {{/each}}
                                </tbody>
                            </table>
                        </div> --}}
                    </div>
                    <!-- End refferal -->

                    <!-- Orders -->
                    <div id="orders" class="product-order tab-pane fade">
                        <h3>Orders</h3>

                    <div class="row">
                        {{#each orders}}
                        <div class="col-lg-4">
                            <div class="card p-3 mb-3 border-success">
                                <ul>
                                    <li style="list-style: none;"><span style="font-size: 18px; font-weight: bold;">Date:</span><span> {{this.data.[0].date}}</span></li>
                                    <li style="list-style: none;"> <span style="font-size: 18px; font-weight: bold;">Order Id:</span> {{this._id}}</li>
                                    <li style="list-style: none;"><span style="font-size: 18px; font-weight: bold;">Address:</span><span>{{this.data.[0].deliveryDetails.address}}</span> </li>
                                    <li style="list-style: none;"><span style="font-size: 18px; font-weight: bold;">Status: </span> <span>{{this.data.[0].status}}</span></li>
                                    <li style="list-style: none;"><span style="font-size: 18px; font-weight: bold;">Amount: </span><span>₹ {{this.data.[0].products.subtotal.total}}</span> </li>
                                </ul>
                                <a class="view btn" href="/view-myorder_details/{{this._id}}"
                                                style="font-weight: bold;">View</a>
                                                {{#if this.data.[0].cancel}}
                                                {{else}}
                                                {{#if this.data.[0].delivered}}
                                                {{else}}
                                                <a class="view btn btn-rounded btn btn-danger mt-3" href="/order-cancel/{{this._id}}" style="font-weight: bold; color: red;"> Cancel</a>
                                                {{/if}}
                                                {{/if}}

                                
                               
                            </div>
                        </div>
                        {{/each}}
                    </div>







                        {{!-- <div class="table-responsive">
                            <table class="table">
                                <thead class="alt-font">
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Address</th>
                                        <th>Products</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {{#each orders}}
                                    

                                    <tr>
                                        <td>{{this._id}}</td>
                                        <td>{{this.data.[0].deliveryDetails.address}}</td>
                                        <td>
                                            {{#each this.data}}
                                            <p style="font-weight: bold;">{{this.productList.productTitle}}</p>
                                            {{/each}}
                                            </td>
                                        <td>{{this.data.[0].date}}</td>
                                        <td>{{this.data.[0].status}}</td>
                                        <td>Rs. {{this.data.[0].products.subtotal.total}}</td>
                                        <td><a class="view text-success" href="/view-myorder_details/{{this._id}}"
                                                style="font-weight: bold;">View</a>
                                                {{#if this.data.[0].cancel}}
                                                {{else}}
                                                <a class="view ms-3 text-danger" href="/order-cancel/{{this._id}}" style="font-weight: bold;"> Cancel</a>
                                                {{/if}}
                                                </td>
                                    </tr>
                                
                                    {{/each}}
                                </tbody>
                            </table>
                        </div> --}}
                    </div>
                    <!-- End Orders -->



                    <!-- Address -->
                    <div id="address" class="address tab-pane">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="billing-address">Billing address</h4>
                            </div>
                            <div class="col-md-6">
                                <a href="/add-address" class="btn btn-dark float-right">+ Add New Address</a>
                            </div>
                        </div>
                        
                        

                        {{#each userAddress.address}}

                        <div class="card p-4">

                            <div class="row">
                                <h6>{{this.addressType}}</h6>
                                <div class="col-11">
                                    <a class="view margin-5px-bottom" style="float: right;"
                                        href="/edit-address/{{this._id}}/{{../user._id}}"><i class="fas fa-edit" style="font-size: 20px;"></i></a>
                                </div>
                                <div class="col-1">
                                    <a class="view margin-5px-bottom" style="float: right; margin-right:35px;"
                                        href="/delete-address/{{this._id}}/{{../user._id}}"><i class="fas fa-trash" style="font-size: 20px; color: red;"></i></a>
                                </div>
                            </div>
                            <span style="font-weight: bold;">{{this.firstname}} {{this.lastname}} <span
                                    style="margin-left: 15px;"> {{this.phone}}</span></span>

                            <p>{{this.address}}, <br>{{this.landmark}}, {{this.district}}, {{this.state}},
                                <br>-{{this.pincode}}</p>
                            <P>Alternative Mobile Number : {{this.alternativePhone}}</P>
                        </div>
                        {{/each}}

                    </div>
                    <!-- End Address -->

                    <!-- Account Details -->
                    {{!-- <div id="account-details" class="tab-pane fade">
                        <h3>Add New Address </h3>
                        <div class="account-login-form bg-light-gray padding-20px-all">
                            <form action="/add-address/{{user._id}}" method="post" id="add-address">
                                <fieldset>

                                    <div class="row">
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-firstname">First Name <span
                                                    class="required-f">*</span></label>
                                            <input name="firstname" value="" id="input-firstname" class="form-control"
                                                type="text" placeholder="Enter First Name">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-lastname">Last Name <span
                                                    class="required-f">*</span></label>
                                            <input name="lastname" value="" id="input-lastname" class="form-control"
                                                type="text" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-firstname">Mobile <span
                                                    class="required-f">*</span></label>
                                            <input name="phone" value="" id="input-firstname" class="form-control"
                                                type="text" placeholder="Enter Mobile Number">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-lastname">Pincode <span
                                                    class="required-f">*</span></label>
                                            <input name="pincode" value="" id="input-lastname" class="form-control"
                                                type="text" placeholder="Enter Pincode">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-firstname">Address <span
                                                    class="required-f">*</span></label>
                                            <input name="address" value="" id="input-firstname" class="form-control"
                                                type="text" placeholder="Enter Address">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-lastname">District<span
                                                    class="required-f">*</span></label>
                                            <input name="district" value="" id="input-lastname" class="form-control"
                                                type="text" placeholder="Enter District">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-firstname">State <span class="required-f">*</span></label>
                                            <select name="state" id="state" class="form-control">
                                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands
                                                </option>
                                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                <option value="Assam">Assam</option>
                                                <option value="Bihar">Bihar</option>
                                                <option value="Chandigarh">Chandigarh</option>
                                                <option value="Chhattisgarh">Chhattisgarh</option>
                                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                                <option value="Daman and Diu">Daman and Diu</option>
                                                <option value="Delhi">Delhi</option>
                                                <option value="Lakshadweep">Lakshadweep</option>
                                                <option value="Puducherry">Puducherry</option>
                                                <option value="Goa">Goa</option>
                                                <option value="Gujarat">Gujarat</option>
                                                <option value="Haryana">Haryana</option>
                                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                <option value="Jharkhand">Jharkhand</option>
                                                <option value="Karnataka">Karnataka</option>
                                                <option value="Kerala">Kerala</option>
                                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                <option value="Maharashtra">Maharashtra</option>
                                                <option value="Manipur">Manipur</option>
                                                <option value="Meghalaya">Meghalaya</option>
                                                <option value="Mizoram">Mizoram</option>
                                                <option value="Nagaland">Nagaland</option>
                                                <option value="Odisha">Odisha</option>
                                                <option value="Punjab">Punjab</option>
                                                <option value="Rajasthan">Rajasthan</option>
                                                <option value="Sikkim">Sikkim</option>
                                                <option value="Tamil Nadu">Tamil Nadu</option>
                                                <option value="Telangana">Telangana</option>
                                                <option value="Tripura">Tripura</option>
                                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                <option value="Uttarakhand">Uttarakhand</option>
                                                <option value="West Bengal">West Bengal</option>
                                            </select>

                                        </div>
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-lastname">Landmark<span
                                                    class="required-f">*</span></label>
                                            <input name="landmark" value="" id="input-landmark" class="form-control"
                                                type="text" placeholder="Enter Landmark (optional)">
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-password">Alternative Mobile <span
                                                    class="required-f">*</span></label>
                                            <input name="alternativePhone" value="" id="input-password"
                                                class="form-control" type="number"
                                                placeholder="Enter Alternative Mobile Number (Optional)">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-lastname">Address Type<span
                                                    class="required-f">*</span></label>


                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="addressType"
                                                    id="flexRadioDefault1" value="Home">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Home
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="addressType"
                                                    id="flexRadioDefault2" value="Work">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Work
                                                </label>
                                            </div>
                                        </div>


                                    </div>

                                </fieldset>

                                <button type="submit" class="btn margin-15px-top btn-primary">Save</button>
                            </form>

                        </div>

                    </div> --}}
                    <!-- End Account Details -->

                    {{!-- change password --}}
                    <div id="change-password" class="tab-pane fade">
                        <h3>Change Password</h3>
                        <div class="account-login-form bg-light-gray padding-20px-all">
                            <form action="/change-password/{{user._id}}" method="post" id="changePassword">
                                <fieldset>


                                    <div class="row">
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-firstname">Current Password <span
                                                    class="required-f">*</span></label>
                                            <input name="currentPassword" value="" id="input-firstname"
                                                class="form-control" type="text" placeholder="Enter Current Password">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                            <label for="input-lastname">New Password <span
                                                    class="required-f">*</span></label>
                                            <input name="newPassword" value="" id="input-lastname" class="form-control"
                                                type="text" placeholder="Enter New Password">
                                        </div>
                                    </div>


                                </fieldset>

                                <button type="submit" class="btn margin-15px-top btn-primary">Save</button>
                            </form>

                        </div>

                    </div>
                    {{!-- End Change Password --}}
                </div>
                <!-- End Tab panes -->
            </div>
        </div>
    </div>
    <!--End Body Container-->
</div>
<!--End Page Wrapper-->

<!--Scoll Top-->
<span id="site-scroll"><i class="icon anm anm-arw-up"></i></span>
<!--End Scoll Top-->

{{#if userSession}}
<!--MiniCart Drawer-->
<div class="minicart-right-drawer modal right fade" id="minicart-drawer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="cart-drawer" class="block block-cart">
                <a href="javascript:void(0);" class="close-cart" data-dismiss="modal" aria-label="Close"><i
                        class="anm anm-times-r"></i></a>
                <h4>Your cart ({{cartCount}} Items)</h4>
                <div class="minicart-content">
                    <ul class="clearfix">
                        {{#each cartProducts}}
                        <li class="item clearfix">
                            <a class="product-image" href="#">
                                <img src="/product-images/{{this.product._id}}first.jpg" alt="{{this.product.productTitle}}" title="">
                            </a>
                            <div class="product-details">
                                <a href="#" class="remove"><i class="anm anm-times-sql" aria-hidden="true"></i></a>
                                <a href="#" class="edit-i remove"><i class="icon icon-pencil"
                                        aria-hidden="true"></i></a>
                                <a class="product-title" href="cart-style1.html">{{this.product.productTitle}}</a>
                                
                                 <div class="wrapQtyBtn">
                                        <div class="qtyField">
                                            <a class="qtyBtn minus btn_chng_qty" data-type="-1" data-id="{{this._id}}" data-productid="{{this.product._id}}">
                                                <i class="anm anm-minus-r" aria-hidden="true"></i>
                                            </a>
                                            <span class="cart__qty-input qty qty_{{this.product._id}}" id="{{this.product._id}}">{{this.quantity}}</span>
                                            <a class="qtyBtn plus btn_chng_qty" data-type="1" data-id="{{this._id}}" data-productid="{{this.product._id}}">
                                                <i class="anm anm-plus-r" aria-hidden="true"></i>
                                            </a>
                                        </div>
											
                                    </div>
                                <div class="priceRow">
                                    <div class="product-price">
                                        <span class="money">Rs. {{this.product.price}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                       
                    </ul>
                </div>
                <div class="minicart-bottom">
                    <a href="/add-to-cart" class="btn btn-secondary cart-btn">View Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
<!--End MiniCart Drawer-->

<!-- Including Jquery -->
<script src="/user-assets/js/vendor/jquery-min.js"></script>
<script src="/user-assets/js/vendor/js.cookie.js"></script>
<!-- Including Javascript -->
<script src="/user-assets/js/plugins.js"></script>
<script src="/user-assets/js/main.js"></script>

</div>
</body>

<!-- Mirrored from www.annimexweb.com/items/avone/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Jan 2022 13:25:28 GMT -->

</html>